main {
  font-family: monospace;
  font-size: 14px;
}

.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
  border: 0.08333rem solid #bfbfbf;
}

.table.table-striped tbody tr:nth-of-type(odd) {
  background: #eee;
}

.table tbody tr.active,
.table.table-striped tbody tr.active {
  background: #e6e6e6;
}

.table.table-hover tbody tr:hover {
  background: #e6e6e6;
}

.table.table-scroll {
  display: block;
  overflow-x: auto;
  padding-bottom: 0.5rem;
  white-space: nowrap;
}
.table td {
  overflow: hidden;
  padding: 0.3rem 0.4rem 0.1rem;
  text-overflow: ellipsis;
  border: 0.08333rem solid #bfbfbf;
}
.table th {
  font-weight: bold;
  font-size: 1.25em;
  padding: 0.3rem 0.4rem 0;
  border-bottom: 0.08333rem solid black;
}
.table tbody th {
  border: 0.08333rem solid #bfbfbf;
}
.table-gray {
  font-size: 1em !important;
  border-top: 2px dotted #ddd;
  border-left: 4px solid #777;
  background: #fff;
  box-shadow: 2px 2px #ddd;
}
